<div class="PA-title">
    License Activation
</div>

<img class="PA-image" src="images/phone-activation.png">

<div class="PA-text">
    Call us toll-free to activate MacShiny
</div>

<div class="PA-number">
    <div class="PA-number__text">
        US <svg class="PA-number__country-flag">
            <use xlink:href="#flag-round-us"/>
        </svg>
        <span class="PA-number__country-code">1</span> (888) 665-6214
    </div>
    <div class="PA-number__text">
        UK <svg class="PA-number__country-flag">
            <use xlink:href="#flag-round-uk"/>
        </svg>
        <span class="PA-number__country-code">0</span> (808) 189-0412
    </div>
    <div class="PA-number__text">
       AU <svg class="PA-number__country-flag">
            <use xlink:href="#flag-round-au"/>
        </svg>
        <span class="PA-number__country-code">1</span> (800) 875-013
    </div>
</div>