<div class="PT">
    <div class="modal-close" ng-click="cancel()"></div>
    <p class="PT__title">Speed Up your Mac with 14 in 1 essential Tools</p>

    <div class="PT-inner">
        <div class="PT-inner__item PT-inner__item--text-right PT-inner__item--border-right">
            <p class="PT-inner__title">3 steps to clean your mac</p>
            <ul class="PT-list">
                <li class="PT-list__item">
                    <span class="PT-list__item-title">Cleaning</span>
                    <svg class="PT-list__item-img">
                        <use xlink:href="#menu-system-cleanup" />
                    </svg>
                </li>
                <li class="PT-list__item">
                    <span class="PT-list__item-title">Optimization</span>
                    <svg class="PT-list__item-img">
                        <use xlink:href="#menu-extensions" />
                    </svg>
                </li>
                <li class="PT-list__item">
                    <span class="PT-list__item-title">Security</span>
                    <svg class="PT-list__item-img">
                        <use xlink:href="#menu-security" />
                    </svg>
                </li>
            </ul>
        </div>
        <div class="PT-inner__item PT-inner__item--text-left">
            <p class="PT-inner__title">24/7 online your mac support</p>
            <ul class="PT-list">
                <li class="PT-list__item">
                    <svg class="PT-list__item-img">
                        <use xlink:href="#menu-system-status" />
                    </svg>
                    <span class="PT-list__item-title">100% OS X Compatible</span>
                </li>
                <li class="PT-list__item">
                    <svg class="PT-list__item-img">
                        <use xlink:href="#ico-round-check" />
                    </svg>
                    <span class="PT-list__item-title">Money back guarantee</span>
                </li>
                <li class="PT-list__item">
                    <svg class="PT-list__item-img">
                        <use xlink:href="#ico-support" />
                    </svg>
                    <span class="PT-list__item-title">Support on demand</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="PT-footer">
        <svg class="PT-footer__norton">
            <use xlink:href="#norton" />
        </svg>
        <a class="PT-footer__btn" ng-click="ok()">Start Scan</a>
        <div class="PT-footer__mac-support">
            <p class="PT-footer__mac-support-title">Mac Support</p>
            <p class="PT-footer__mac-support-text">Professionals</p>
        </div>
        <div class="PT-footer__rating">
            <svg class="PT-footer__ico-star">
                <use xlink:href="#ico-star" />
            </svg>
            <svg class="PT-footer__ico-star">
                <use xlink:href="#ico-star" />
            </svg>
            <svg class="PT-footer__ico-star">
                <use xlink:href="#ico-star" />
            </svg>
            <svg class="PT-footer__ico-star">
                <use xlink:href="#ico-star" />
            </svg>
            <svg class="PT-footer__ico-star">
                <use xlink:href="#ico-star" />
            </svg>
            <p class="PT-footer__editors-choice">
                Editor's choice
            </p>
        </div>
    </div>
</div>